<div class='ty-banner'>
    <div class='ty-container'>
        <h3 style="color:green">Order Confirmed!</h3>
        <%= image_tag 'order_c.svg', width:150 %>
        <h3>Thank You 💗</h3>
        <h4>FOR YOUR ORDER</h4>
        <p style="text-align:center; width:400px">
            Your order made our day! We hope we make yours.
            We've sent you an email with the order details.
        </p>
        <%= link_to 'Continue Shopping', '/gallery/index', class:'btn2'%>
    </div>
</div>