<div class=store-container>
    <h1 class='title'>Editing Store</h1>

    <%= render 'form', store: @store %>
    <div class='btn-container'>
        <%= link_to 'Show', @store %>
        <%= link_to 'Back', stores_path %>
    </div>
</div>
