<section class="slider_section ">
    <div class="slider_bg_box">
      <%= image_tag "slider-bg.jpg" %>
    </div>
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        
        <div class="carousel-item active">
          <div class="container ">
            <div class="row">
              <div class="col-md-7">
                <div class="detail-box">
                  <h1>
                    Elegant Watches
                  </h1>
                  <p>
                    Looking for sophisticated watches? We got you covered, explore our collection.
                  </p>
                  <div class="btn-box">
                    <a href="/gallery/index" class="btn1">
                      Explore
                    </a>
                    <a href="/about" class="btn2">
                      About Us
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container ">
            <div class="row">
              <div class="col-md-7">
                <div class="detail-box">
                  <h1>
                    Casual Watches
                  </h1>
                  <p>
                    Looking for casual watches? Explore our collection.
                  </p>
                  <div class="btn-box">
                    <a href="/gallery/index" class="btn1">
                      Explore
                    </a>
                    <a href="/about" class="btn2">
                      About Us
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container ">
            <div class="row">
              <div class="col-md-7">
                <div class="detail-box">
                  <h1>
                    Premium Watches
                  </h1>
                  <p>
                    Looking for premium watches? Explore our collection.
                  </p>
                  <div class="btn-box">
                    <a href="/gallery/index" class="btn1">
                      Explore
                    </a>
                    <a href="/about" class="btn2">
                      About Us
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <ol class="carousel-indicators">
        <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
        <li data-target="#customCarousel1" data-slide-to="1"></li>
        <li data-target="#customCarousel1" data-slide-to="2"></li>
      </ol>
    </div>
</section>