<!-- about section -->

<section class="about_section layout_padding">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="img_container">
          <div class="img-box b1">
            <%= image_tag "a-1.jpg" %>
          </div>
          <div class="img-box b2">
            <%= image_tag "a-2.jpg" %>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <h2 style="color:#6610f2">
            About Us
          </h2>
          <p style="text-align:justify;line-height:1.6">
          The Watchsy Company Private Limited (Watchsy) Journey began with small but confident steps in 2022. Started with an objective to create an ecommerce platform for all kinds of watches for everyone.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end about section -->