
<!-- product section -->
<section class="product_section ">
  <div class="container">
    <div class="product_heading">
      <!--<h2>Top Sale Watches</h2>-->
    </div>
    <%= render 'products' %>
  </div>
</section>

<!-- end product section -->