<!-- product section -->
<section class="product_section ">
  <div class="container">
    <div class="product_heading" style="display:grid;margin:0 auto; width:max-content; margin-bottom:1rem">
        <h2>
            <% if @watches.length == 0 %>
                No results found
                <%else%>
                Search Results
            <%end%>
        </h2>
    </div>
    <%= render 'products' %>
    
  </div>
</section>
<!-- end product section -->


